<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</nav>
<div class="main-container">
    <div class="container">
        <h3> <%= message %></h3>
        <h4><a href="<%= recieptUrl %>">Download Payment Reciept</a></h4>
    </div>
</div>


<div class="footer">
    <p>Copyright © 2019 Evergreen Blades. All Rights Reserved.</p>
</div>
</body>
</html>